@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font-family: 'Poppins', sans-serif;
  }

  .Detail {
    background: linear-gradient(135deg, #691878, #121212, #121212 ,#121212, #691878, transparent );
    min-height: 100vh;
    padding: 100px 15px;
  }

  .Detail-container {
    max-width: 1000px;
    margin: auto;
    position: relative;
  }

  .Detail-item {
   
    margin-bottom: 40px;
    width: 100%;
    position: relative;
    padding: 0 15px; /* Add padding for better spacing */
    
  }
   
    .Detail-event {
      background: linear-gradient(90.21deg, rgba(170, 54, 124, 0.5) -5.91%, rgba(74, 47, 189, 0.5) 111.58%);
      background-size: cover;
      padding: 30px;
      border-radius: 5px;
      position: relative;
      z-index: 2; /* Ensure it's above the line */
  }  
  
  /* Responsive */
@media (max-width: 767px) {
    .timeline-container::before {
      left: 7px;
      width: 2px; /* Adjust line width for mobile */
    }
}


